div {
    width: 350px;
}
p1 {
    text-decoration: underline;
}
p2 {
    background:orange;
}
p3 {
    color:red;font-weight:bold;
}
p4 {
    color:red;font-weight:bold;
}
p5 {
    text-decoration: underline;
}